html body{width: 1200px;margin: 0 auto; }

/* banner */

.banner{margin: 0 auto;padding: 0;background-color: #f8f8fa ;height: 30px;line-height: 30px;font-size: 12px;}
.banner a{ color: #666;}
.banner i{color: #ff7800;}
.banner .left{float: left;}
.banner .right{float: right;}
.banner .right .span{color:#ff0000;}
